body {
  margin: 0;
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway.ttf) format('truetype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  /* background-image: url('./images/background.png'); */
  background-position: top;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}