.container {
    padding: 10px 20%;
}

.logo {
    font-family: 'Pixelify Sans';
    src: local('PixelifySans'), url(./fonts/PixelifySans.ttf) format('truetype');
    font-size: 42px;
    letter-spacing: 1px;
    color: #0AA1E2;
}

.description {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 60px;
    text-align: center;
}

.subDescription {
    text-align: center;
    color: #B4B4B4;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
}

.highlight {
    font-weight: 600;
    color: #0AA1E2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctaButton {
    background-color: #0AA1E2;
    border-radius: 7px;
    padding: 3px 30px;
    text-align: center;
    align-content: center;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
    user-select: none;
    height: 40px;
    width: 130px;
    font-size: 16px;
}

.ctaButton:hover {
    background-color: rgba(10, 161, 226, 0.8);
}

.buttonUnderDescription {
    margin: 0 auto;
    width: 190px;
}

@media only screen and (max-width: 1300px) {
    .container {
        padding: 10px;
    }

    .logo {
        font-size: 60px;
    }

    .ctaButton {
        font-size: 30px;
        height: 80px;
        width: 260px;
        padding: 0px 20px;
    }

    .buttonUnderDescription {
        margin: 0 auto;
        width: 320px;
    }

    .description {
        margin-top: 200px;
    }

    .subDescription {
        font-size: 20px;
        font-weight: 400;
    }
}