.level {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.codeEditor {
    border-radius: 6px;
    box-shadow: rgba(16, 22, 26, 0.1) 0px 0px 0px 1px, rgba(16, 22, 26, 0) 0px 0px 0px, rgba(16, 22, 26, 0.2) 0px 1px 1px;
    overflow: auto;
}

.codeEditorContainer {
    width: 600px;
}

.instructions {
    margin-top: 10px;
    border: solid 1px black;
    border-radius: 6px;
    padding-left: 5px;

    .list {
    }
    .instruction {
        padding-bottom: 5px;
    }
}

.runButton {
    margin-top: 10px;
    font-size: 20px;
    padding-inline: 10px;
    padding-block: 5px;
}

.levelCell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

.levelLine {
    display: flex;
    gap: 2px;
    padding-bottom: 2px;
}

.goals {
    width: 300px;
    .header {
        font-size: 20px;
    }

    .list {
        padding-left: 20px;
    }

    .goal {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
}

ul {
    list-style-type: none;
}