.level {
    display: flex;
    gap: 50px;
}

.codeEditor {
    border-radius: 6px;
    box-shadow: rgba(16, 22, 26, 0.1) 0px 0px 0px 1px, rgba(16, 22, 26, 0) 0px 0px 0px, rgba(16, 22, 26, 0.2) 0px 1px 1px;
    /* border: 1px solid rgba(16, 22, 26, 0.4); */
    overflow: auto;
    margin: 10px;
}

.levelCell {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
}

.levelLine {
    display: flex;
    gap: 2px;
    padding-bottom: 2px;
}

ul {
    list-style-type: none;
}