@font-face {
  font-family: 'ProstoOne';
  src: local('ProstoOne'), url(assets/fonts/ProstoOne.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(assets/fonts/Inter.ttf) format('truetype');
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


html, body, #root {
    height: 100%;
}
